
.overview2{
    margin-top:60px ;
}

.view2{
      margin-top: 140px;
    float: right;
    margin-right: 150px;
    text-align: center;
}
.heading4{
    font-size: xx-large;
    margin-bottom: 40px;
}
.img3{
   width: 50%;
}
.view2_para{
    margin: 10px 0px 0px 0px;
}