
.unique{
    box-shadow: 4px 0px 4px 0px grey;
}

.overview5{
    display: flex;
    margin : 0px;
   
}
.right_blank{
    width: 400px;
    margin: 50px;
    padding: 20px;
}
.left_full{
    width: 900px;
    margin: 50px;
    padding: 20px;
}
.view5_head{
    font-size: 70px;
}
.view5_para{
    text-align: left;
    margin: 20px;
    margin-left: 0px;
    font-size: larger;
}
.view5_list{
    padding: 10px;
    color: red;
    font-size: x-large;
}
